#namek {
    background-image: url("namek.jpg");
    width: 1000px;
    height: 576px;
}
.goku {
    position: absolute;
    background-image: url("goku.png");
    width: 55px;
    height: 60px;
    top: 130px;
    left: 10px;
}
.minicell {
    position: absolute;
    background-image: url("minicell.png");
    width: 50px;
    height: 55px;
    top: 130px;
    left: 950px;
}
.missile {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 10px;
}
.cuadrogoku {
    position: absolute;
    background-image: url("cuadrogoku.png");
    width: 195px;
    height: 35px;

}
.cuadromincell {
    position: absolute;
    background-image: url("cuadrominicell.png");
    width: 190px;
    height: 36px;
    top: 8px;
    left: 818px;
}